/* ==========================================================
>> COLOR SCHEME
========================================================== */
$color-base:				#000;
$color-alt:					#fff;
$color-alt2:	 		 	red;
$color-alt3:				blue;

$color-light:				#fff;
$color-shadow:             	#000;

$color-body:				#fff;
$color-body-alt:			#000;

$text-color:				#000;
$link-color:				$primary-color;
$link-hover-color:			lighten($link-color, 10%);
/* ==========================================================
>> FONT FAMILY
========================================================== */
$font-base:					'Arial', sans-serif;
$font-base-weight:			400;

$font-alt:					'Trebuchet MS', sans-serif;
$font-alt-weight:			400;

$font-alt2:					'Times New Roman', serif;
$font-alt2-weight:			400;

$font-title:				$font-alt;
$font-title-weight:			$font-alt-weight;
/* ==========================================================
>> FONT SIZE
========================================================== */
$font-size-base:          	14px;

$font-size-large:         	round(($font-size-base * 1.25));
$font-size-small:         	round(($font-size-base * 0.75));

$font-size-h1:            	round(($font-size-base * 2.75));
$font-size-h2:            	round(($font-size-base * 2.50));
$font-size-h3:            	round(($font-size-base * 2.25));
$font-size-h4:            	round(($font-size-base * 2.00));
$font-size-h5:            	round(($font-size-base * 1.75));
$font-size-h6:            	round(($font-size-base * 1.50));
/* ==========================================================
>> SPACEMENT
========================================================== */
$spacing-base:				20px;
