/* ==========================================================
>> LANDING PAGE
========================================================== */
.landing-page{
	position: relative;
	overflow: hidden;
	.container-wrapper{
		width: 100%;
		max-width: 600px;
		text-align: center;
		@include absolute-centered;
		h1{
			font-size: 0;
			background: url(../img/logo/logo-white.svg) no-repeat center center;
			@include responsive-ratio(850,160);
		}
		.social{
			margin-top: $spacing-base;
			ul{
				li{
					display: inline-block;
					font-size: round(($font-size-base*1.5));
					a{
						position: relative;
						.zmdi-hc-inverse{
							color: $color-body;
						}
						&:after{
							@include pseudo(inline-block,absolute, attr(alt));
							left: 50%;
							bottom: -$spacing-base*2.75;
							@include translate(-50%,0);
							@include font(false, round(($font-size-base*0.7)), #fff, 500, false, false, uppercase);
							@include anim(350ms, ease-in-out);						
							opacity: 0;
						}
						&:hover{
							color: rgba(#fff, 0.5);
							&:after{
								opacity: 1;
							}
						}
					}
				}
			}
		}
	}
}