.timeline{
	overflow: hidden;
	.container-wrapper{
		position: relative;
		max-width: 1170px;
		width: 90%;
		margin: auto;
		&:before{
			content: '';
			position: absolute;
			width: 0.1rem;
			height: 100%;
			background: $text-color;
			left: 1.45rem;
			@include media(desktop){
				left: 50%;
				margin-left: -0.05rem;
			}
		}
		.item{
			position: relative;
			display: block;
			.image-wrapper{
				position: absolute;
				overflow: hidden;
				@include border-radius(100%);
				top: 2rem;
				width: 3rem;
				height: 3rem;
				border: 0.2rem solid #fff;
				@include media(desktop){
					width: 6rem;
					height: 6rem;
					left: 50%;
					margin-left: -3rem;
				}
				img{
					width: 100%;
				}
			}
			.content-wrapper{
				padding: 2rem 1rem;
				padding-left: 4rem;
				@include media(desktop){
					padding: 2rem;
					width: 45%;
				}
				.btn{
					margin-top: 2rem;
				}
				.company{
					font-weight: 600;
					&:after{
						content:'-';
						margin-left: 0.4rem;
					}
				}
				.date{
					font-style: italic;
				}
				.place{
					display: block;
					font-style: italic;
				}
				.extra-info{
					@include media(desktop){
						position: absolute;
						top: 0rem;
						left: 50%;
						padding: 2rem;
						width: 45%;
						left: 55%;

						.info{
							margin-top: 1rem;
						}
					}
				}
			}
			&:nth-child(even){
				@include media(desktop){				
					.content-wrapper{
						float: right;
						.extra-info{
							text-align: right;
							left: 0;
						}
					}
					&:after{
						content: '';
						display: block;
						clear: both;
					}
				}
			}
		}
	}
}